*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(./images/back.png); */
    background-color: #FFC0CB;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

.Picture1{
    margin: 0;
    position: absolute;
    z-index: -2;
}

.header{
    width: 100%;
    display: flex;
}

.header img{
    width: 50%;
    position: absolute;
    z-index: -1;

}

.header1{
    width: 100%;
    display: flex;
}

.header1 img{
    margin-left: 50%;
    width: 50%;
    position: absolute;
    z-index: -1;

}


.form{
    margin-left: 35%;
    margin-top: 8%;
}

input{
    background-color: transparent;
    border-radius: 10px;
    padding: 4px;
    width: 50%;
}

.back{
    background-color: #F06B84;
    width: 40%;
    padding: 20px;
    height: 600px;
    position: absolute;
    z-index: -1;
    margin-top: 6%;
    margin-left: 32%;
    border-radius: 20px;
}

.back img{
    width: 20px;
}

#btn{
    background-color: #b84c65;
    color: #FFC0CB ;
    border-radius: 10px;
    padding: 8px;
    margin-left: 18%;
    width: 15%;
}


.bottom img{
    width: 40%;
    position: absolute;
    margin-top: 40%;
    margin-left: 32%;
}

.gender-options {
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-right: 60%;
    
}

.gender-options  label {
    cursor: pointer;
    margin-left: 2px;
}

input[type="radio"] {
    display: none; /* Hide the radio buttons */
}

input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-right: 5px;
    margin-left: 10px;
    vertical-align: middle;
}

input[type="radio"]:checked + label::before {
    background-color: #000;
}

label{
    padding: 2px;
}