*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFC0CB;
    overflow-y: hidden;
    overflow-x: hidden;
}

.nav{
    padding: 50px;
    background-image: linear-gradient(to right,#ff66c4,#ffd659);
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav li:hover{
    background-color: #FFC0CB;
}

.nav li {
    display: inline;
    margin-left: 10%;
    z-index: 5;
}
.nav li a{
    color: black; 
    text-align: center;
    text-decoration: none;
    font-weight: bold;

}

.nav img{
    width: 15%;
    padding: 2%;
}

.donuticon{
    position: absolute;
}

.donuticon img{
    width: 45%;
    margin: 6%;
    margin-left: 20%;

}

.usericon{
    position: absolute;
}

.usericon img{
    width: 45%;
    margin-top: 63%;
    margin-left: 100%;
}

.profile{
    background-color: #F06B84;
    width: 22%;
    height: 400px;
    margin-top: 7%;
    margin-left: 23%;
    padding: 15px;
    border-radius: 20px;
    position: absolute;
}

.profile img{
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    margin-right: 3% ;
}

.user2 img{
    width: 10%;
}

.form1{
    margin-left: 25%;
    margin-top: 2%;
}

#btn{
    background-color: #FFC0CB ;
    padding:5px;
    border-radius: 10px;
    margin-left: 20%;
}

.profile2{
    background-color: #F06B84;
    width: 30%;
    height: 400px;
    margin-top: 7%;
    margin-left: 48%;
    padding: 15px;
    border-radius: 20px;
    
}

.profile2 h1{
    text-align: center;
}

.profile2 label{
    padding: 5px;
    font-weight: bold;
}

.profile2 button img{
    width: 10%;
}

.profile2 button{
    background-color: #FFC0CB;
    border-radius: 20px;
    padding: 5px ;
    margin-top: 10%;
    margin-left: 25%;
}

.body img{
    width: 30%;
    position: absolute;
    margin-top:27%;
}

.body{
   margin-left: 70%;
}

.right img{
    width: 30%;
    position: absolute;
    margin-top: 27%;
    z-index: -2;
}

